{% extends "accounts/main.html" %}

{% block content %}

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Customer Information</h5>
                    <hr class="my-1 border-white">
                </div>
                <div class="card-body">
                    <a href="{% url 'create_order' customer.id %}" class="btn btn-sm custom-button-1">Create New Customer Order</a>

                    <button type="button" class="btn custom-button-1 btn-sm">Update Customer</button>

                    <button type="button" class="btn custom-button-1 btn-sm">Delete Customer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Contact Information</h5>
                    <hr class="my-1 border-white">
                </div>
                <div class="card-body text-start">
                    <p>Name: {{ customer.name }}</p>
                    <p>Email: {{ customer.email }}</p>
                    <p>Phone: {{ customer.phone }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                    <hr class="my-1 border-white">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ orders_count }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <form action="" method="get">
                <button class="btn custom-button" type="submit">Search Customer</button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                    <th style="text-align: center;">Update</th>
                    <th style="text-align: center;">Remove</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.category }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                        <td style="text-align: center;">
                            <a href="{% url "update_order" order.id %}" class="btn btn-sm custom-button">Update Order</a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url "delete_order" order.id %}" class="btn btn-sm custom-button">Delete Order</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}