{% extends 'accounts/main.html' %}

{% block content %}

{% include "accounts/status.html" %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn custom-button btn-sm btn-block" href="{% url "create_customer" %}" style="margin-bottom: 20px">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <th>Orders</th>
                    <th style="text-align: center;">Customer Profile</th>
                </tr>

                {% for customer in customers %}

                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.phone }}</td>
                    
                    <td style="text-align: center;">
                        <a href="{% url 'customer' customer.id %}" class="btn btn-sm custom-button">View Profile</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">

            {% comment %} <a class="btn custom-button btn-sm btn-block" href="{% url "create_order" %}" style="margin-bottom: 20px">Create Order</a> {% endcomment %}
            
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                    <th style="text-align: center;">Update</th>
                    <th style="text-align: center;">Remove</th>
                </tr>

                {% for order in orders %}
                <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.date_created }}</td>
                    <td>{{ order.status }}</td>

                    <td style="text-align: center;">
                        <a href="{% url "update_order" order.id %}" class="btn btn-sm custom-button">Update Order</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url "delete_order" order.id %}" class="btn btn-sm custom-button">Delete Order</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}